/**
 *
 *	Mario World:
 *	written by Mohit Punjabi
 *
 **/

@charset "utf-8";

@font-face
{
	font-family: lane;
	src: url('lane.ttf') format("truetype"); /* IE */
}

body
{
	background: transparent;
	color: #FFF;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#container
{
	margin:0px;
	width:100%;
	height: 500px;
}

h1, h2, h3, h4, h5, h6
{
	font-family: lane, "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}
ol,ul
{
  padding-top:10px;
  padding-left:100px;
}
h2
{
	padding-top: 10px;
	padding-left: 20px;
	font-size: 40px;
}

h3
{
	padding-top: 10px;
	padding-left: 20px;
	font-size: 25px;
}
h1
{
	top: 0px;
	width: 100%;
	text-align: center;
	padding: 0px;
	margin: 0px;
	padding-bottom: 20px;
	font-weight: 300;
	font-size: 100px;
	color: #FFF;
}

h1 span
{
	color: #9FF;
	text-shadow: 0px 0px 5px #9FF, 0px 0px 10px #9FF;
	-webkit-transition: text-shadow 0.75s;
	-o-transition: text-shadow 0.75s;
}

h1 span.glow
{
	text-shadow: 0px 0px 5px #9FF, 0px 0px 10px #9FF, 0px 0px 30px #9FF, 0px 0px 70px #9FF, 0px 0px 140px #9FF;
//	text-shadow: 0px 0px 5px #FF9, 0px 0px 10px #FF9, 0px 0px 30px #FF9, 0px 0px 70px #FF9, 0px 0px 140px #FF9;
}

a
{
	color: #DDD;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

p
{
	text-align: justify;
	padding: 10px 80px 10px 80px;
}


div.guest
{
	background: rgba(255, 255, 255, 1);
	color: #111;
	vertical-align: center;
	padding-left: 40px;
	padding-bottom: 0px;
	padding-right: 0px;
}
div.guest div
{
	float: left;
	width: 45%;
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
}

.showcase
{
	padding: 0;
	margin: 0;
	overflow: hidden;
	list-style-type: none;
	position: relative;
	width: 100%;
	height: 450px;
}

.showcase li
{
	background: #FFF;
	-webkit-transition: left 1s;
	position: absolute;
	float: left;
	padding: 0;
	height: 450px;
}

.tiles
{
	text-align: center;
	list-style-type: none;
	padding: 30px;
}

.tiles li
{
	display: none;
	width: 200px;
	height: 150px;
	border: 1px #FFF dashed;
	float: left;
	margin: 10px;
	-webkit-transition: -webkit-transform 0.5s, box-shadow 0.5s;
}

.tiles li a
{
	display: block;
	width: 100%;
	height: 100%;
	color: #FFF;
//	padding: 10px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font-weight: 200;
	font-size: 40px;
}

.tiles li:hover
{
	z-index: 10;
	border-color: #9FF;
	box-shadow: 0px 0px 4px #9FF, 0px 0px 10px #9FF, 0px 0px 20px #9FF;
	-webkit-transform: scale(1.3, 1.3);
}

#backButton
{
	position: fixed;
	left: 10px;
	top: 0px;
	height: 40px;
	width: 40px;
	text-align: center;
	background: #000;
	padding-top: 15px;
	border: 1px #555 dashed;
}

#backButton a
{
	diaplay: block;
	width: 100%;
	padding-top: 10px;
	height: 100%;
	color: #AAA;
	text-decoration: none;
}

img
{
	margin-left: 50px;
	margin-right: 50px;
	border: 1px #BBB solid;
	padding: 5px;
	display: block;
}

a:hover img
{
	border: 1px #DDD solid;
	box-shadow: 0px 0px 5px #9FF;
}