* {
  margin: 0;
  padding: 0;
}

section, article, aside, header, footer {
  display: block;
}

strong, b {
  font-weight: bold;
}

body {
  background: #b0d349 url(/images/background.jpg) repeat-x top left;
  font-family: "helvetica neue", helvetica, arial;
}

fieldset {
  position: relative;
  border: 0;
}

#content {
  position: relative;
  background: url(/images/main-bg.jpg) no-repeat top left;
  padding: 10px;
  width: 780px;
  margin: 0 auto;
}

h1 {
  background-image: url(/images/spriteme1.png);
  background-position: -10px -10px;
  height: 76px;
  width: 204px;
}

h1 a {
  opacity: 0;
  height: 76px;
  width: 204px;
  display: block;
  filter:alpha(opacity=0);
}

header h2 {
  margin-top: -5px;
  font-size: 16px;
  color: #0971a1;
  margin-left: 18px;
}

#screen_name.screen_name {
/*  padding-left: 20px; */
}

input[type=text], select {
  margin-left: 15px;
  width: 235px;
  padding: 4px 7px;
  color: #3d5b4c;
  font-size: 13px;
  font-weight: bold;
  border: 2px solid #94a3a8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#auth_screen_name {
  display: none;
  padding: 5px;
  color: #989898;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  margin-left: 20px;
}

#auth_screen_name:before {
  content: '@';
}

select {
  height: 30px;
}

input {
  background: #fff url(/images/spriteme2.png) repeat-x 0px -80px;
}

select {
  background-image: url(/images/spriteme2.png);
  background-position: 0px -10px;
  width: 250px;
}

fieldset div {
  margin: 8px 0;
  clear: left;
  width: 340px;
}

div label {
  float: left;
  display: block;
  width: 70px;
  text-transform: uppercase;
  color: #3d5b4c;
  font-size: 12px;
  font-weight: bold;
  line-height: 32px;
  text-align: right;
}

#auth {
  display: none;
}

#results {
  margin: 20px;
  margin-bottom: 10px;
  background: #fff;
  padding: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

h2 {
  font-size: 16px;
  margin-left: 18px;
  color: #275300;
}

#controls {
  width: 355px;
}

#worm-and-bird {
  position: absolute;
  background: url(/images/worm.png) no-repeat 57px 35px;
  height: 220px;
  width: 425px;
  top: 0;
  right: 0;
}

#findit-btn { 
  background: url(/images/spriteme1.png) no-repeat -10px -106px;
  text-indent: -9999px;
  border: 0;
  width: 105px;
  height: 50px;
  bottom: 0;
  position: absolute;
  cursor: pointer;
}

#findit-btn:active { 
  background-position: -10px -104px;
}

#info {
  background-image: url(/images/spriteme1.png);
  background-position: -10px -168px;
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  top: 30px;
  right: 40px;
}

#logininfo {
  text-decoration: none;
}

.button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #0971a1;
  background: url(/images/spriteme2.png) repeat-x 0px -123px;
  height: 25px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: #01212F 1px 1px 3px;
  text-decoration: none;
  font-size: 11px;
  display: inline-block;
  line-height: 25px;
  padding: 0 8px;
}

#authenticate-button {
  min-width: 150px;
  position: absolute;
  top: 53px;
  right: 40px;
}

.twitter-logo {
  text-indent: -9999px;
  overflow: hidden;
  background-image: url(/images/spriteme1.png);
  background-position: -10px -208px;
  display: inline-block;
  height: 12px;
  width: 53px;
  vertical-align: text-top;
}

#bird {
  background-image: url(/images/spriteme1.png);
  background-position: -10px -240px;
  height: 57px;
  width: 71px;
  position: absolute;
  top: 1px;
  right: 162px;
}

#authenticate-info {
  display: none;
  background: #cff;
  font-size: 11px;
  padding: 10px;
  padding-top: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #435e5b;
  position:absolute;
  right: 40px;
  top: 65px;
  width: 165px;
}

#logininfo:hover #authenticate-info {
  display: block;
}

#authenticate-info p {
  margin-top: 7px;
}

.clear {
  clear: both;
}

/** footer */

footer {
  font-size: 12px;
  margin: 0 auto;
  position: relative;
}
 
footer ul {
  position: absolute;
  right: 0;
  padding: 10px 0;  
}
 
footer nav ul {
  left: 0;
}
 
#credit {
  text-transform: lowercase;
}
 
footer li {
  background-image: url(/images/spriteme1.png);
  background-position: -10px -404px;
  padding: 5px 15px;
  float: left;
  display: block;
}
 
footer ul li:first-child {
  background: none;
}
 
footer a {
  text-shadow: 0px 1px 3px #505050;
  color: #E6FFE1;
  text-decoration: none;
}
 
footer nav a {
  font-weight: bold;
}

/* end **/

/** 1) intro box */

#intro {
  margin: 20px 15px;
  display: none;
}

body.intro #intro {
  display: block;
}

#intro h2 {
  color: #275300;
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}

#tweets_about_snapbird {
  float: right;
  width: 255px;
}

#tweets_about_snapbird h2 {
  margin: 0;
  font-size: 14px;
}

#tweets_about_snapbird ul {
  list-style: none;
}

#tweets_about_snapbird li {
  font-size: 12px;
  margin: 10px;
  margin-right: 0;
  padding-left: 50px;
  clear: left;
  position: relative;
  border-top: 1px solid #eee;
  padding-top: 10px;
  min-height: 24px;
}

#tweets_about_snapbird li a {
  color: #000;
  text-decoration: none;
}

#tweets_about_snapbird img {
  border: 0;
}

#tweets_about_snapbird li:first-child {
  border-top: 0;
}

#tweets_about_snapbird li img {
  left: 0;
  position: absolute;
}

table {
  width: 390px;
  border-collapse: collapse;
  border-spacing: 10px;
}

table thead .twitter,
table thead .snapbird {
  width: 90px;
  text-transform: uppercase;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

table tfoot th {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

th {
  font-size: 12px;
  padding: 5px 10px;
  color: #ccc;
  color: #9F0000;
  vertical-align: top;
}

th.twitter {
  background: #f4f4f4;
}

th.snapbird {
  background: #ffc;
  color: #275300;
  font-size: 13px;
}

table thead .no {
  opacity: 0;
  width: 350px;
}

table tbody td {
  text-transform: lowercase;
  font-weight: bold;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  color: #666;
  font-size: 14px;
}

tbody td.yes {
  height: 15px;
  background-image: url(/images/spriteme1.png);
  background-position: 26px -308px;
}

tbody td.no {
  height: 15px;
  background-image: url(/images/spriteme1.png);
  background-position: 26px -352px;

}

tbody td:nth-child(2n) {
  background-color: #f4f4f4;
}

td:nth-child(3n),
th:nth-child(3n) {
  border-left: 2px solid #fff;
}

tbody td:nth-child(3n) {
  background-color: #ffc;
}

/* end **/


/** 2) search results */

#tweets {
  display: none;
}

#tweets h2 {
  font-size: 22px;
  font-weight: normal;
  margin: 0;
  color: #000;
}

body.results #tweets {
  display: block;
}

body.results #results {
  padding: 0 15px;
}

#tweets {
  margin: 0 auto;
  background: #fff;
  padding-bottom: 22px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  position: relative;
}
 
#tweets ul {
  padding-top: 15px;
  min-height: 70px;
  width: 465px;
  margin: 0;
  margin-bottom: 20px;
}
 
#tweets aside {
  position: absolute;
  margin-left: 480px;
  width: 200px;
  padding: 15px;
  margin-top: 15px;
  background: #ebf4d1;
  border: 1px solid #bfd916;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#tweets aside.fixed {
  position: fixed;
  top: 0;
}

#tweets aside h3 {
  font-size: 14px;
  font-weight: lighter;
  color: #4e732a;
}

#tweets aside p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}
 
/* twitter styles */
#tweets li {
  background: url(/images/dots.gif) repeat-x left bottom;
  font-size: 14px;
}

#tweets li.more {
  border-bottom: 1px solid #ccc;
  background: none;
} 
 
#tweets ul a {
  color: #2277bb;
}
 
#tweets ul a:hover, #tweets a:active, #tweets a:focus, #tweets a {
  text-decoration: none;
}
 
#tweets ul a:hover {
  text-decoration: underline;
}
 
#tweets ul a img {
  border: 0;
}
 
#tweets li {
  padding: 0;
  margin: 0;
  list-style: none;
}
 
.tweet {
  clear: left;
  min-height: 48px;
  padding: 9px;
  line-height: 1.1;
  position: relative;
}
 
#tweets li.searchterm {
  font-size: 22px;
  padding-bottom: 20px;
}
 
.vcard {
  float: left;
}
 
.hentry {
  margin-left: 58px;
}
 
.hentry .meta {
  color: #999;
  font-size: 0.764em;
  margin: 3px 0 0;
  display: block;
}
 
#tweets .meta a {
  color: #999;
}
 
.tweet:hover {
/*  background-color: #F7F7F7;*/
}
 
#status {
  font-size: 14px;
  color: #565d42;
}
 
#status p {
  margin: 5px 0 15px 0;
}

#loading {
  width: 325px;
  margin: 20px auto;
  display: none;
  background: url(/images/loading.gif) no-repeat;
  font-weight: bold;
  padding-bottom: 20px;
  padding-left: 40px;
  font-size: 12px;
}

#loading .num {
  font-size: 36px;
  color: #ccc;
}

body.loading #loading {
  display: block;
}

body.loading #more {
  display: none;
}

#more {
  width: 465px;
  margin: 0;
}

#more p {
  margin: 10px 0;
  text-align: center;
}

#more p.searched {
  font-weight: bold;
}

#more a {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  font-weight: bold;
  line-height: 34px;
  width: 450px;
  background: url(/images/white-button-bg.gif) repeat-x;
  height: 34px;
  font-size: 18px;
  color: #0971a1;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  text-align: center;
}

#more a:hover {
  text-decoration: none;
}

/* end **/

/** auth overlay */

#auth {
  display: none;
}
 
.auth #auth {
  display: block;
}
 
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter:alpha(opacity=40);
}
 
#login {
  width: 500px;
  margin: 0 auto;
}
 
#login > div {
/*  border: 10px solid rgba(0,0,0,0.5);*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
/*  background: rgba(0,0,0,0.4);*/
  background: rgba(191, 217, 22, 0.4);
  position: absolute;
  top: 200px;
  width: 500px;
  padding: 10px;
}
 
#login div div {
  color: #000;
  padding: 10px 30px;
  background: rgb(235, 244, 209);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
 
#login p {
  line-height: 28px;
  margin: 20px 0;
}
 
#login a {
  text-decoration: none;
}

/* end **/
